<!DOCTYPE html>
<html ng-app="adminApp">
  <head>
    <title>Administrador</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light|Amatic+SC' rel='stylesheet' type='text/css'>
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/animate.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/normalize.css">
    <!--STYLES END-->
  </head>

  <body>
    <div ui-view></div>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/angular.min.js"></script>
    <script src="/js/dependencies/jquery.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/libs/angular-ui-router.min.js"></script>
    <script src="/js/libs/bootstrap.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
