body
	font-family: 'Roboto', sans-serif
.bg-home
	.row
		margin : 0px
	h1
		font-size : 100px
		color : #82FA58
		text-shadow: 2px 2px #000
		margin : 5px 0px 5px 0px
	h2
		font-size : 80px
		color : #d1c4e9
		text-shadow: 2px 2px #212121
	.home-subtitle
		margin-top : 300px
		padding-right : 80px
		.delay-subtitle
			animation-delay: 0.75s
		h3
			color : #000
	padding-top : 50px
	background-image: url('/IN/images/home_bg.png')
	background-attachment: fixed
	background-position: top right
	background-repeat: no-repeat
	background-size: cover
	content: ''
	display: block
	height: 700px
	width: 100%
	.panel-description
		background-color : rgba(255,255,255,0.7)