.navbar-default
	background-color : #512da8
	border-color : #512da8
	box-shadow : 3px 3px 10px #000
	font-size : 18px
	
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover
	color : #fff

.navbar-default .navbar-nav >li >a
	color : #fff
	
.navbar-default .navbar-nav >li >a:hover
	color : #fff !important
	
.activeNav
	border-bottom : 3px solid #536dfe
	color : #fff
	
.navbar-default .navbar-nav >li :hover
	border-bottom : 3px solid #536dfe
	color : #fff
	//background-color : #c0251e

	
.navbar .navbar-nav 
	display: inline-block
	float: right
	vertical-align: top
	
.navbar .navbar-collapse 
	text-align: center
	
@media only screen and (min-width : 767px)
	.navbar-default .navbar-nav >li
		text-align : center
		//width : 12.5%	
	.dropdown-menu
		left : -100%
		background-color : #7d5cc6
		.divider
			background-color : #fff
	.dropdown-menu>li>a
		color : #fff
	.dropdown-menu>li>a:hover
		background-color : #7d5cc6

	
