.bg-user
	.pagination>.active>a
		background-color : #536dfe !important 
		border-color : #536dfe !important
	.pagination
		box-shadow : 5px 2px 6px rgba(0,0,0,0.2)
	.bg-panel
		background-color : rgba(255,255,255,1)
		box-shadow :  5px 2px 6px rgba(0,0,0,0.2)
		border-radius : 0px
		::-webkit-input-placeholder 
			opacity: 1
			transition: inherit
			font-size : 15px
		input:focus::-webkit-input-placeholder
			opacity: 0
		input:focus
			outline : none
			border-bottom: 1px solid #536dfe !important
		input
			outline: none
			border: none !important
			-webkit-box-shadow: none !important
			-moz-box-shadow: none !important
			box-shadow: none !important
			//margin-bottom : 15px
			height : 50px
			transition: all 0.5s
			border-bottom: 1px solid #ccc !important
			font-family: inherit
			-webkit-appearance: none
			border-radius: 0
			padding: 0
			cursor: text
		select
			outline: none
			border: none !important
			-webkit-box-shadow: none !important
			-moz-box-shadow: none !important
			box-shadow: none !important
			//margin-bottom : 15px
			height : 50px
			transition: all 0.5s
			border-bottom: 1px solid #ccc !important
			font-family: inherit
			-webkit-appearance: none
			border-radius: 0
			padding: 0
			cursor: text
		.button
			height : 40px
			width : 100%
			border : none
			background-color : #536dfe
			border-radius : 0px
			color : #fff
			margin-top : 10px
			font-size : 15px
		.table-hover tbody tr:hover td, .table-hover tbody tr:hover th
			background-color: #d1c4e9
			color : #fff
		table
			font-size : 12px
		th
			a
				color : #536dfe
		.error
			color : #d1c4e9
			font-size : 12px

	.row
		margin : 0px
	h1
		font-size : 100px
		font-weight : 900
		color : #82FA58
		text-shadow: 2px 2px #000
		margin : 5px 0px 5px 0px
	h2
		font-size : 20px
	padding-top : 100px
	//background-color : #673ab7
	background-color : #fff
	content: ''
	display: block
	height: 800px
	width: 100%