<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=""></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ng-repeat="i in items" ng-class="{'activeNav': i.id == states.activeItem}" ng-click="states.activeItem=i.id">
          <a href="" ui-sref="{{i.template}}">{{i.title}}</a>
        </li>
        <li>
          <a href="/logout" target="_top">Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div ui-view autoscroll="true">
  <section class="bg-home animated fadeIn">
    <div class="row">
      <div class="col-md-8 text-center animated bounceInDown">
        <h2>LUDI</h2>
      </div>
    </div>
    <div class="row home-subtitle">
      <div class="col-md-8"></div>
      <div class="col-md-4 text-right delay-subtitle animated fadeIn ">
        <h3>Aprende como alimentarte de una manera fácil y divertida</h3>
      </div>
    </div>
  </section>
</div>







