.navbar-default
	background-color : #7d5cc6
	border-color : #7d5cc6
	font-size : 20px

.navbar-default .navbar-nav >li >a
	color : #fff
	transition: 1s ease
	
.navbar-default .navbar-nav >li >a:hover
	color : #82FA58
	//background-color : #c0251e
	
.active
	//background-color : #D0A9F5
	color : #82FA58
	
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:visited,
.navbar-default .navbar-nav>.active>a:hover
	color : #82FA58
	background-color : #7d5cc6
	
.navbar-default .navbar-nav>.open>a,
.nav .open>a,
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:visited, 
.navbar-default .navbar-nav>.open>a:hover
	background-color : #7d5cc6
	color : #fff
	
.navbar .navbar-nav 
	display: inline-block
	float: none
	vertical-align: top
	
.navbar .navbar-collapse 
	text-align: center
	
@media only screen and (min-width : 767px)
	.navbar-default .navbar-nav >li
		text-align : center
		//width : 12.5%	
	.dropdown-menu
		left : -100%
		background-color : #7d5cc6
		.divider
			background-color : #fff
	.dropdown-menu>li>a
		color : #fff
	.dropdown-menu>li>a:hover
		background-color : #7d5cc6

	
