.bg-school
	.bg-panel
		background-color : rgba(255,255,255,0.7)
		border-radius : 10px
		::-webkit-input-placeholder
			font-size : 20px
			color : #ddd
		input
			margin-bottom : 15px
			height : 50px
		.button
			height : 50px
			width : 100%
			border : none
			background-color : #81DAF5
			border-radius : 10px
			color : #fff
			font-size : 20px
	.row
		margin : 0px
	h1
		font-size : 100px
		font-weight : 900
		color : #82FA58
		text-shadow: 2px 2px #000
		margin : 5px 0px 5px 0px
	h2
		font-size : 80px
		color : #82FA58
		text-shadow: 2px 2px #000
	padding-top : 100px
	background-image: url('/images/escuelas_bg.jpg')
	background-attachment: fixed
	background-position: top right
	background-repeat: no-repeat
	background-size: cover
	content: ''
	display: block
	height: 800px
	width: 100%
		