<section class="bg-school animated fadeIn">
	<div class="container">
		<div class="row">
	    	<div class="col-md-5">
	    		<div class="panel panel-default bg-panel">
					<div class="panel-body">
						<h3 class="text-center">Registro de escuelas</h3>
						<input type="text" class="form-control" placeholder="Nombre de la escuela">
						<input type="text" class="form-control" placeholder="Calle">
						<input type="text" class="form-control" placeholder="Número">
						<input type="text" class="form-control" placeholder="Colonia">
						<input type="text" class="form-control" placeholder="Estado">
						<input type="text" class="form-control" placeholder="Teléfono">
						<button class="button">Registrar</button>
					</div>
				</div>
	    	</div>
	    	<div class="col-md-7">

	    	</div>
	      <!--div class="col-md-8 col-md-offset-2 text-center animated bounceInDown">
	        <h1>LUDI</h1>
	        <h2>Administración de escuelas</h2>
	      </div-->
	    </div>
	</div>
</section>